<a href="https://colab.research.google.com/github/QueenRae7/QueenRae7/blob/main/Pandas_Library_continues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Loading the libraries
import numpy as np
import pandas as pd

In [ ]:
Dataset1 = pd.read_csv("/content/missing_tips.csv")
Dataset1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner   2.0
1       10.34  1.66    Male     No  Sun  Dinner   3.0
2       21.01  3.50    Male     No  Sun  Dinner   3.0
3       23.68  3.31    Male     No  Sun  Dinner   2.0
4         NaN  3.61  Female     No  Sun  Dinner   4.0

In [ ]:
# Checking the missing values

Dataset1.isnull().sum()

total_bill    4
tip           2
sex           0
smoker        2
day           3
time          2
size          3
dtype: int64

In [ ]:
# Second approach
Dataset1.isna().sum()

total_bill    4
tip           2
sex           0
smoker        2
day           3
time          2
size          3
dtype: int64

In [ ]:
# Overall Count
Dataset1.isnull().sum().sum()

16

In [ ]:
# Missing values in a particular columns

Dataset1[['tip']].isnull().sum()

tip    2
dtype: int64

# handling the missing values

## 1. Approach - Delete the row having the missing values

In [ ]:
Dataset1.shape

(244, 7)

In [ ]:
Dataset2 = Dataset1.dropna()

In [ ]:
Dataset2.shape

(230, 7)

In [ ]:
Dataset2.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

## 2. Appraoch - Filling the missing values

In [ ]:
Dataset1.isnull().sum()

total_bill    4
tip           2
sex           0
smoker        2
day           3
time          2
size          3
dtype: int64

In [ ]:
Dataset1.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size          float64
dtype: object

### Note- if the dtype of column is Numerical then filled with Median/mean() and if the dtype of the column is text then fill with mode()

In [ ]:
Dataset1.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
for col in Dataset1.columns:
  if Dataset1[col].dtypes == 'object':
    Dataset1[col] = Dataset1[col].fillna(Dataset1[col].mode()[0])
  else:
    Dataset1[col] = Dataset1[col].fillna(Dataset1[col].median())

In [ ]:
Dataset1.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
Dataset1.shape

(244, 7)

# Filling the Data with Global Variable

In [ ]:
Data1 = pd.read_csv("/content/missing_tips.csv")
Data1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner   2.0
1       10.34  1.66    Male     No  Sun  Dinner   3.0
2       21.01  3.50    Male     No  Sun  Dinner   3.0
3       23.68  3.31    Male     No  Sun  Dinner   2.0
4         NaN  3.61  Female     No  Sun  Dinner   4.0

In [ ]:
Data1.isnull().sum()

total_bill    4
tip           2
sex           0
smoker        2
day           3
time          2
size          3
dtype: int64

In [ ]:
Data1 = Data1.fillna(0)
Data1.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

# Dealing with Duplicate Records

In [ ]:
My_Data1 = pd.read_csv("/content/diabetes_D.csv")
My_Data1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
# Checking the duplicate records in dataset
My_Data1.duplicated().sum()

6

In [ ]:
My_Data1.shape

(770, 9)

In [ ]:
# Displaying the row having the duplicate records
My_Data1.loc[My_Data1.duplicated(), :]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
8,1,89,66,23,94,28.1,0.167,21,0
23,10,139,80,0,0,27.1,1.441,57,0
213,1,105,58,0,0,24.3,0.187,21,0
238,1,105,58,0,0,24.3,0.187,21,0
461,1,100,72,12,70,25.3,0.658,28,0
510,1,100,72,12,70,25.3,0.658,28,0

In [ ]:
# Dropping the duplicated records

My_Data1 = My_Data1.drop_duplicates()

In [ ]:
# shape after dropping the duplicate records
My_Data1.shape

(764, 9)

In [ ]:
# Now checking again
My_Data1.duplicated().sum()

0

# Data has no duplicates now!